
body {
	margin: 20px;
	line-height: 2em;
}

.info {
	color: blue;
}

.testing-area {
	border: 2px solid red;
}

#rangeDisplay, #colorDisplay {
	outline: 0;
	border: 0;
}

.test-multiple-select {
	vertical-align: top;
	height: 100px;
}