body {
    padding: 200px 0 0 200px;
}
.desc,
.abs,
.trans {
    box-sizing: border-box;
    font-size: 28px;
    padding: 5px;
}
.abs,
.trans {
    background-color: #ffff99;
    width: 750px;
    height: 130px;
}
.parent {
    background-color: #80e0ff;
    width: 850px;
    height: 180px;
    position: relative;
}
.abs {
    position: absolute;
    left: 80px;
    top: 30px;
}
.trans {
    -webkit-transform: translateX(80px) translateY(30px);
    transform: translateX(80px) translateY(30px);
}
.text {
    font-size: 20px;
    color: red;
}
/*
    Test 1
    Whether need parent support
*/

/*
    Test 2
    Whether out of flow
*/
.t2 .trans2 {
    /* you can mix transform with absolute positioning
        NOTE: Probably not a stable use case
    */
    position: absolute;
}
.t2 {
    /* make room for absolute positioned trans2
        or will overlap next test
     */
    margin-bottom: 130px;
}

/*
    Test 3
    Translate will be affected by padding
*/
.t3 .parent {
    padding-left: 30px;
    margin-bottom: 10px;
}